body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.navlinks {
  text-align: center;
  display: inline;
  float: right;
  font-size: 20px;
}

.title {
  display: inline;
}

.container {
  margin-bottom: 30px;
}

footer {
  height: 50px;
  border-top: 1px solid black;
  margin-top: 20px;
}

$colwidth: 75px;
$colgutter: 20px;

.col1 {
  width: $colwidth;
  margin-right: $colgutter;
}

.col2 {
  width: $colwidth * 2;
  margin-right: $colgutter;
}

.col3 {
  width: $colwidth * 3;
  margin-right: $colgutter;
}

.col4 {
  width: $colwidth * 4;
  margin-right: $colgutter;
}

.col5 {
  width: $colwidth * 5;
  margin-right: $colgutter;
}

.col6 {
  width: $colwidth * 6;
  margin-right: $colgutter;
}

.col7 {
  width: $colwidth * 7;
  margin-right: $colgutter;
}

.col8 {
  width: $colwidth * 8;
  margin-right: $colgutter;
}
