<!DOCTYPE html>
<html>
<head>
  <title>MmShop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header>
      <h1 class="title">
        Meyers and Mian's Random Store
      </h1>
      <div class="navlinks">
        <a href="#">Food</a>
        <a href="#">Clothing</a>
        <a href="#">Other Random Stuff</a>
        <a href="#">Your Cart</a>
      </div>
    </header>
  </div>

<%= yield %>

  <div class="container">
    <footer>
      <p class="footerlinks">
        <a href="#">Contact</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Careers</a>
      </p>
    </footer>
  </div>

</body>
</html>
